@media (max-width: 768px) {
  body {
    margin: 0;
    max-width: 100%;
  }
  nav,
  .button.button_header_footer,
  .footer,
  .projects,
  .vector_elements,
  .flex_info_types_of_repair,
  .help_save_logo,
  .ul_interior_design,
  .img_second_flex_block_interior_design_dwn,
  .third_flex_block_interior_design {
    display: none;
  }
  .wrapper {
    margin: 0 18px;
  }
  .title {
    font-size: 23px;
    line-height: 132.83%;
  }
  .hero {
    height: auto;
  }
  .hero_wrapper {
    padding-top: 85px;
    padding-bottom: 61px;
  }
  .hero_text {
    font-size: 14px;
    line-height: 135.84%;
  }
  .button {
    display: block;
    margin: 32px auto 0 auto;
    max-width: 340px;
    width: 100%;
  }
  .button_submit {
    margin-top: 26px;
  }
  .subtitle {
    display: block;
    text-align: center;
    font-size: 22px;
    line-height: 138.6%;
    letter-spacing: -0.07em;
  }
  .projects_all_grid {
    grid-template-areas:
      "h2"
      "p"
      "slider"
      "charact";
    display: grid;
    margin: 0 auto;
  }
  .completed_projects_text {
    margin-top: 36px;
  }
  .completed_projects_text_text {
    font-size: 11px;
    line-height: 158.48%;
    text-align: center;
    display: block;
  }
  .projects__image {
    background-image: url(../images/projects2.png);
    width: 100%;
    padding-top: 71%;
    background-size: cover;
    margin-top: 65px;
  }
  .projects_image_image {
    display: none;
  }
  .completed_projects {
    height: auto;
  }
}
